<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="well">
      <h3>Login</h3>
      <form>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" ng-model="login.loginForm.email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="login.loginForm.password">
        </div>
        <button class="btn btn-primary" ng-click="login.login()">Iniciar Sesión</button>

        <hr>
        <a class="btn btn-block btn-social btn-facebook" ng-click="login.loginFacebook()">
          <span class="fa fa-facebook"></span> Iniciar Sesión con Facebook
        </a>
        <a class="btn btn-block btn-social btn-google" ng-click="login.loginGooglePlus()">
           <span class="fa fa-google"></span> Iniciar Sesión con Google
         </a>
      </form>
    </div>
  </div>
</div>
